PORT=5000
MONGO_URI=mongodb://localhost:27017/ecommerce   
JWT_SECRET= jwt scret here
MAIL_USER=you mail
MAIL_PASS= your mail pass        #GO to your google mange your google account and search appPassword give name of app and copy it and when you paste here remove spaces from it also